# Ignore all to start whitelisting below
*

# Terminal files
!foot/
!foot/**

# Nix configuration files
!home/
!home/**

!nixos/
!nixos/**

# Neovim configuration files
!nvim/
!nvim/**

# OpenCode configuration files
!opencode/
!opencode/**

# Personal helpers
!personal_helpers/
!personal_helpers/**

# Tmux configuration files
!tmux/
!tmux/**

# Zsh configuration files
!.profile
!.zprofile
!.zsh*
!zsh/
!zsh/**

# Starship configuration files
!starship.toml

# Wallpapers and backgrounds
!wallpapers/
!wallpapers/**

# Meta
!.gitignore
!.gitmodules

!README.md
!LICENSE
