# Ignore all to start whitelisting below
*

!README.md
!LICENSE

!foot/
!foot/**

!nixos/
!nixos/**

!nvim/
!nvim/**

!opencode/
!opencode/**

!personal_helpers/
!personal_helpers/**

!tmux/
!tmux/**

!.profile
!.zprofile
!.zsh*
!zsh/
!zsh/**

!starship.toml

!.gitignore
!.gitmodules
