/* ------------------------------ GLOBALS -------------------------------*/

@import "rose_pine.css";

* {
    font-family: FiraCode, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

/* -------------------------------- BAR ---------------------------------*/

window#waybar {
    background-color: transparent;
    transition: all;
    transition-duration: .5s;
    margin: 8px 4px;
    color: @fg-main;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* -------------------------------- LEFT --------------------------------*/

button:hover {
    border: none;
    box-shadow: none;
    background: inherit;
}

#workspaces {
    margin-top: 8px;
    margin-left: 8px;
    padding: 0px 8px;
    border-radius: 12px;
    background-color: @bg-main;
    border: 2px solid @accent-main;
}

#workspaces button {
    border: none;
    border-radius: 12px;
    margin: 4px 8px;
    padding: 0 8px;
    transition: all;
    transition-duration: .5s;

    color: @fg-main;
    background-color: @bg-hover-alt;
}

#workspaces button:hover {
    background-color: @bg-hover-alt;
}

#workspaces button.focused {
    padding: 0 16px;
    background-color: @fg-muted;
}

#workspaces button.urgent {
    background-color: @accent-love;
}

#mode {
    margin-top: 8px;
    padding: 0px 8px;
    font-weight: bold;
    border-radius: 12px;
    color: @fg-main;
    background-color: @bg-main;
    border: 2px solid @accent-main;
}

/* ---------------------------- RIGHT ------------------------------*/

.modules-right {
    margin-top: 8px;
    margin-right: 8px;
    padding: 0px 8px;
    border-radius: 12px;
    background-color: @bg-main;
    border: 2px solid @accent-main;
}

#group-stats,
#group-power {
    margin: 4px 0;
    padding: 0 8px;
    border-radius: 12px;
    background-color: @bg-hover-alt;
}

#group-power {
    padding: 0 4px;
}

#cpu,
#memory,
#temperature {
    padding: 0 8px;
}

#custom-power,
#custom-reboot,
#custom-lock,
#custom-quit {
    padding: 0 8px;
    padding-right: 12px;
    margin: 4px 0;
    background-color: @bg-hover-alt;
}

#custom-lock,
#custom-quit {
    margin-right: 8px;
}

#custom-quit {
    margin-left: 8px;
}

#custom-power:hover,
#custom-reboot:hover,
#custom-lock:hover,
#custom-quit:hover {
    border-radius: 12px;
    background-color: @bg-hover-alt;
}

#tray,
#network,
#power-profiles-daemon,
#language,
#backlight,
#battery,
#clock {
    margin: 4px 0;
    padding: 0 8px;
    border-radius: 12px;
    background-color: @bg-hover-alt;
}

#backlight,
#network {
    padding-right: 12px;
}

#power-profiles-daemon:not(.performance) {
    padding-right: 10px;
}

#power-profiles-daemon.performance {
    color: @error;
}

#power-profiles-daemon.power-saver {
    color: @accent-foam;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @error;
}